<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>694808614677-jmpvsg392gbg95o8vehe6e7d6duehpg0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.694808614677-jmpvsg392gbg95o8vehe6e7d6duehpg0</string>
	<key>API_KEY</key>
	<string>AIzaSyArJG2qS_2xmre6jcg918xZ-DUYwmLAEuI</string>
	<key>GCM_SENDER_ID</key>
	<string>694808614677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.dclouds.fluttertemplate</string>
	<key>PROJECT_ID</key>
	<string>flutter-template-bc8bd</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-template-bc8bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694808614677:ios:2acb0f41bde019b8e67b1c</string>
</dict>
</plist>